@import url('https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Unbounded:200,300,regular,500,600,700,800');
html {
	scroll-behavior: smooth;
	background-color: rgb(39, 39, 39);
}
body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
	// text-wrap: balance;
}
img {display: block;}
a {color: var(--link-color);}
code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}
pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}
.ui-block {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e9f1f6;
    border: 1px dashed #777;
    &-pagebg {
        flex-direction: column;
        background-color: #e7f9f3;
    }
}
.page-content {
    padding: 20px 0;
    // @include mobile {padding: 0;}
}